PA-T5-W5.json
{
  "name": "PA-T5-W5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BerxHO-bW0C7ZiutSFSNGfaCpF-lz_ur",
          "mode": "list",
          "cachedResultName": "RAG02",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BerxHO-bW0C7ZiutSFSNGfaCpF-lz_ur"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d11c0580-ece0-419c-8cff-1cb99bf667e9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mHTExC3WSUZtYz2D",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d5ea85-13c0-44fe-bf49-4e8e0e893279",
              "name": "permissions[0].id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2d2ac465-96b6-4c51-a6b4-f9cb10e2b355",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "fb0d71b9-5553-472f-bf47-000899e45074",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mHTExC3WSUZtYz2D",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "f407f671-a294-4002-a55d-e3a587f370ad",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "f2a66f7d-e81d-4093-82d7-21be6735b06c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "cDTvrGJgEdDrNjHt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "09af1cf0-f946-4686-a2d0-087ecfb472a8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rMfjGEcU9TNKxh6r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $('Edit Fields').item.json.permissions[0].id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        144
      ],
      "id": "36472798-eee5-44f2-8807-b17a4d6f78d8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        304
      ],
      "id": "a9b10e81-79ac-4303-a661-17d2ee6dbead",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        544
      ],
      "id": "866f6784-6379-428d-ba19-3189ccd4ca86",
      "name": "When chat message received",
      "webhookId": "7cee4935-f962-4bee-88ed-387dcc32a0c2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten penulisan ilmiah Tugas Akhir atau Skripsi.\n\nTugas Utama:\n\nBaca dan pahami isi file .docx yang saya lampirkan secara langsung.\n\nSimpan informasi dari file tersebut ke database menggunakan tool Supabase Vector Store.\n\nJawab pertanyaan hanya berdasarkan data di database tersebut.\n\nAturan Ketat:\n\nJika informasi tidak ada di database, wajib jawab: \"Mohon maaf, saya belum dapat memberikan jawaban.\".\n\nDilarang mengarang jawaban di luar data yang tersedia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        544
      ],
      "id": "ec96b3c8-88cd-476a-bccc-d4d87c39353d",
      "name": "AI Agent",
      "retryOnFail": false,
      "maxTries": 5
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        752
      ],
      "id": "2610c044-d0ac-4c0f-b66a-3f1a84c89734",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rMfjGEcU9TNKxh6r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool ini untuk menjawab pertanyaan tentang Kriteria Tulisan Ilmiah Tugas Akhir (TA) mahasiswa STT-NF",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        688
      ],
      "id": "eca49b4a-770f-4543-9561-cb8598aa1659",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "cDTvrGJgEdDrNjHt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        416,
        752
      ],
      "id": "4b2f1f1d-8982-4926-a7cb-37ac1c0bc2e8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Ad3Vi0NcMmhG4l9g",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e6927062-2fc7-4bfb-acd8-ed82c4de5f3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9704663f74d69eeb977f15243323eb74db5de74d5177acc566bc2245578d2624"
  },
  "id": "xPB8JrwflmqWxEbM",
  "tags": []
}